.photodiv {
    background-color: #D1DBEA;

    a {
      outline: none;
      text-decoration: none;
      padding: 2px 1px 0;
    }

    a:link {
      color: blue;
    }

    a:visited {
      color: purple;
    }

    a:focus, a:hover {
      border-bottom: 1px solid;
    }

    a:active {
      color: red;
    }
}

.buttonGuide{
    position: fixed;
    top: 240px;
    left: 320px;
}

.loader {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


#itemtext {
    color: black;
    font-size: 14px;
}

#divsvgtext{
    display: flex;
    align-items: center;
    justify-content: center;
}

.svglink {
    display: fixed;
}