#randomdiv {
 background-image: url("../background/randomstart.png");
 background-repeat: no-repeat;
 background-size: contain;
 width: 670px;
 height: 589px;

}

.randomdata {
    text-align: center;
    border: 3px solid black;
    margin: 1em;
    padding: 1em;
    border-radius: 25px;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .1);
}

#randbut:nth-of-type(1) {
    position: absolute;
    background: #3e3e3e;
    color: white;
    left: 10%;
    top: 295px;
    width: 536px;
}


#fixedsvg {
    display: none;
    position: absolute;
    top: 7px;
    left: 590px;
    z-index: 3;
}

#c-button {
  appearance: none;
  border: 0;
  border-radius: 5px;
  background: #bdbebd;
  color: black;

  font-size: 16px;
  text-transform: none;
  align-items: center;
  justify-content: center;
  height: 40px;
}

#hyperlink {
    text-decoration: none;
    color: black;
}

#icon {
    background: url("./icons8-external-link-20.svg") no-repeat;
    float: right;
    margin-left: 5px;
    width: 20px;
    height: 20px;
}


.iconr {
    background: url("./icons8-external-link-20.svg") no-repeat;
    float: right;
    margin-bottom: 6px;
    margin-left: 5px;
    width: 20px;
    height: 20px;
}
